/*Webpage Design*/
body {
    background-image: url("../images/backgrounds/aboutBG.jpg");
    overflow-x: hidden;

    display: flex;
    min-height: 100vh;
    flex-direction: column;

    animation: bgTransition 10s infinite;
    animation-delay: 4s;
}
/*
@keyframes bgTransition {
    0% {
        background-image: url("../images/backgrounds/bg1.jpg");
        background-size: cover;

        animation-delay: 4s;
    }

    25% {
        background-image: url("../images/backgrounds/bg2.jpg");
        background-size: cover;

        animation-delay: 4s;
    }

    50% {
        background-image: url("../images/backgrounds/bg3.jpg");
        background-size: cover;

        animation-delay: 4s;
    }

    75% {
        background-image: url("../images/backgrounds/bg4.jpg");
        background-size: cover;

        animation-delay: 4s;
    }

    100% {
        background-image: url("../images/backgrounds/bg5.jpg");
        background-size: cover;

        animation-delay: 4s;
    }
}
*/
.bodyWrapper {
    display: flex;
    flex-direction: column;
    flex: 4;
}




/*Custom Fonts*/
@font-face {
    font-family: "Override";
    src: url("../fonts/OverrideFont/OverrideFont.ttf");
}




/*Header Design*/
.customHeader {
    background-color: rgb(255, 255, 255);

    height: 80px;
    width: 100%;

    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow:    2px 2px 3px 2px rgba(0, 0, 0, 0.12);
    box-shadow:         2px 2px 3px 2px rgba(0, 0, 0, 0.12);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerBoxLeft {
    padding: 50px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.headerBoxLeft a {
    text-decoration: none;
    list-style-type: none;
}

/*Normal Logo Font Size*/
@media screen and (min-width: 600px) {
.headerBoxLeft span {
    font-family: Override;
    font-size: 48px;

    padding: 4px;
    }
}

/*Smaller 1 Logo Font Size*/
@media screen and (max-width: 600px) {
.headerBoxLeft span {
    font-family: Override;
    font-size: 38px;

    padding: 4px;
    }
}

/*Smaller 2 Logo Font Size*/
@media screen and (max-width: 450px) {
.headerBoxLeft span {
    font-family: Override;
    font-size: 30px;

    padding: 4px;
    }
}

/*Smaller 3 Logo Font Size*/
@media screen and (max-width: 360px) {
.headerBoxLeft span {
    font-family: Override;
    font-size: 30px;

    padding: 0px;
    }
}

.headerBoxRight {
    padding: 50px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.headerBoxRight a {
    font-family: Roboto;
    font-size: 16px;

    color: rgb(32, 32, 32);

    text-decoration: none;
    list-style-type: none;
}




/*Footer Design*/
.customFooter {
    background-color: rgb(255, 255, 255);

    height: 48px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.customFooter span {
    font-family: Roboto;
    font-size: 16px;

    color: rgb(116, 116, 116);
}

.footerBoxLeft {
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footerBoxRight {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}




/*Slogan Header*/
.sloganHeader {
    height: 40px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.sloganBoxLeft {
    font-family: Roboto;
    font-size: 32px;
    font-style: italic;

    padding: 30px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*Normal Logo Font Size*/
@media screen and (min-width: 600px) {
.sloganBoxLeft span {
    font-family: Roboto;
    font-size: 32px;

    padding: 4px;
    }
}

/*Smaller 1 Logo Font Size*/
@media screen and (max-width: 600px) {
.sloganBoxLeft span {
    font-family: Roboto;
    font-size: 24px;

    padding: 4px;
    }
}

/*Smaller 2 Logo Font Size*/
@media screen and (max-width: 450px) {
.sloganBoxLeft span {
    font-family: Roboto;
    font-size: 16px;

    padding: 4px;
    }
}




/*App Content Design*/
.contentBox {
    background-color: rgba(255, 255, 255, 0.8);

    height: fit-content;
    width: fit-content;

    padding: 14px;

    text-align: left;
    word-wrap: normal;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow:    2px 1px 3px 2px rgba(0, 0, 0, 0.12);
    box-shadow:         2px 1px 3px 2px rgba(0, 0, 0, 0.12);
}

/*App Sections*/
.appContainer {
    font-family: Roboto;
    font-size: 24px;

    padding: 4px;

    width: 100%;
}

/*App Button Design*/
.customButton {
    background-color: rgb(0, 119, 255);
    color: rgb(255, 255, 255);

    font-size: 22px;
    font-weight: bold;

    border: none;
    padding: 10px 30px;

    text-align: center;
    text-decoration: none;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow:    2px 1px 3px 2px rgba(0, 0, 0, 0.12);
    box-shadow:         2px 1px 3px 2px rgba(0, 0, 0, 0.12);
}

/*Hover Effect*/
.customButton:hover {
    background-color: rgb(73, 158, 255);

    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
}

/*Button Visible Effect*/
.buttonHidden {
    display: none;
}

/*About Image*/
.contentBox #aboutImg {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

/*About Name*/
.contentBox #aboutName {
    font-family: Roboto;
    font-size: 24px;
}

/*About Text*/
.contentBox #aboutText {
    font-family: Roboto;
    font-size: 16px;
}

/*About Links*/
.contentBox a {
    text-decoration: none;
    list-style-type: none;
}